.box {
    flex-grow: 1;
}

.content-box {
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.02);
    border: 2px solid rgba(187, 134, 252, 0.2);
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    padding: 25px;
    transition: all 0.25s ease-out;
}
    .content-box::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(187, 134, 252, 0.025) 50%, transparent 50%);
        background-size: 100% 5px;
        pointer-events: none;
    }


.feature-box {
    padding: 25px;
    background: rgba(210, 173, 255, 0.075);
    border-radius: 10px;
    transition: all 0.3s ease-out;
}


.flow-box {
    padding: 10px 25px;
    border-left: 2px dashed rgba(210, 173, 255, 0.5);
    transition: all 0.3s ease-out;
}


.note-box {
    background: rgba(187, 134, 252, 0.1);
    padding: 25px;
    margin-top: 15px;
    font-size: 0.9rem;
    border-left: 2px solid #bb86fc;
}


.border-box {
    background: rgba(187, 134, 252, 0.05);
    border: 2px solid rgba(187, 134, 252, 0.1);
    border-radius: 10px;
    padding: 25px;
    transition: 0.3s ease;
}


.highlight-box {
    border: 2px solid rgba(187, 134, 252, 0.1);
    border-top: 3px solid var(--accent);
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 25px;
    position: relative;
    transition: 0.3s;
}


.solid-box {
    padding: 25px;
    backdrop-filter: blur(10px);
    background: rgba(210, 173, 255, 0.075);
    border-radius: 10px;
    transition: all 0.3s ease-out;
}

.gradient-box {
    padding: 25px;
    background: linear-gradient(90deg, rgba(187, 134, 252, 0.05) 100%, transparent 0%);
    border-radius: 10px;
    transition: all 0.3s ease-out;
}