.button {
    display: flex;
    flex-grow: 0;
    align-items: center;
    border-radius: 5px;
    padding: 5px 15px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
    .button.bold {
        font-weight: 700;
    }
    .button.round {
        border-radius: 999px;
    }
    .button.glow:hover {
        box-shadow: 0 0 15px var(--accent-glow);
        border-color: rgba(187, 134, 252, 1);
    }
    .button:hover {
        transform: scale(1.05);
    }

.frame-button {
    background: rgba(187, 134, 252, 0.1);
    border: 2px solid rgba(187, 134, 252, 0.5);
    color: rgba(187, 134, 252, 1);
}

.solid-button {
    background: rgba(187, 134, 252, 1);
    color: #1f1f1f;
}


.muted-button {
    border: 2px solid rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.5);
}
    .muted-button.glow:hover {
        box-shadow: 0 0 15px var(--accent-glow);
        border-color: rgba(255, 255, 255, 0.25);
    }

.dashed-button {
    background: rgba(187, 134, 252, 0.1);
    border: 2px dashed rgba(187, 134, 252, 0.5);
    color: rgba(187, 134, 252, 1);
}