.item {
    position: relative;
    padding: 0 0 0 25px;
    color: var(--text-color);
    font-size: 1rem;
}
    .item::before {
        color: var(--accent);
        margin-right: 10px;
        position: absolute;
        left: 0;
    }

.diamond-bullet::before {
    content: "◈";
}

.star-bullet::before {
    content: "✦";
}

.dot-bullet::before {
    content: "●";
}

.arrow-bullet::before {
    content: "⇨";
}