a.content-link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
    transition: all 0.2s ease-out;
}

    a.content-link:hover {
        color: #d1abff;
        border-color: #d1abff;
    }
