a.button-link {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

a.text-link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
    transition: all 0.2s ease-out;
}

    a.text-link:hover {
        color: #d1abff;
        border-color: #d1abff;
    }

img.image-item {
    object-fit: contain;
}
    img.image-item.cover {
        object-fit: cover;
    }

video {
    transition: all 0.2s ease-out;
}
    video:hover {
        transform: scale(1.025);
    }