.round-button {
    background: rgba(187, 134, 252, 0.1);
    border: 1px solid rgba(187, 134, 252, 0.3);
    color: #fff;
    font-family: monospace;
    font-size: 0.75rem;
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

    .round-button:hover {
        background: rgba(187, 134, 252, 0.1);
        border: 1px solid rgba(187, 134, 252, 0.75);
        transform: scale(1.05);
        cursor: pointer;
    }
