.keyword-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}


.metadata-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 0;
}

.metadata-box {
    flex-grow: 1;
    background: rgba(187, 134, 252, 0.05);
    border: 1px solid rgba(187, 134, 252, 0.1);
    border-radius: 5px;
    padding: 15px;
    transition: 0.3s ease;
}

    .metadata-box:hover {
        background: rgba(187, 134, 252, 0.1);
        border-color: var(--accent);
        transform: translateY(-2px);
        cursor: pointer;
    }