:root {
    --background-color: #05070a;
    --text-color: #ffffff;
    --panel: rgba(15, 20, 28, 0.8);
    --panel-light: rgba(255, 255, 255, 0.05);
    --accent: #bb86fc;
    --accent-glow: rgba(187, 134, 252, 0.4);
    --accent-fade: rgba(187, 134, 252, 0.1);
    --muted: rgba(255, 255, 255, 0.5);
    --border: rgba(255, 255, 255, 0.1);
    --coral: #ff7f50;
    --blue: #00d4ff;
    --green: #00ff9d;

    --sidebar-w: 250px;
    --toolbar-h: 50px;
}

[id] {
    scroll-margin-top: calc(var(--toolbar-h) + 20px);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
}

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(var(--border) 1px, transparent 1px), linear-gradient(90deg, var(--border) 1px, transparent 1px);
        background-size: 50px 50px;
        mask-image: radial-gradient(circle at 50% 50%, black, transparent 80%);
        z-index: -1;
        opacity: 0.3;
    }

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 10px;
    transition: 2s;
}

    ::-webkit-scrollbar-thumb:hover {
        background: var(--accent);
    }