.content-container {
    display: block;
    width: 100%;
    background: linear-gradient(0deg, rgba(187, 134, 252, 0.05), transparent);
    margin-top: var(--toolbar-h);
    height: calc(100vh - var(--toolbar-h));
    overflow-y: auto;
    padding: 60px 5%;
    scroll-behavior: smooth;
}

.page-section {
    display: none;
    animation: slideIn 0.25s ease-out;
}

    .page-section.active {
        display: block;
    }

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
