.content-container {
    margin-left: var(--sidebar-w);
    margin-top: var(--toolbar-h);
    height: calc(100vh - var(--toolbar-h));
    overflow-y: auto;
    padding: 60px 8%;
    scroll-behavior: smooth;
}

.page-section {
    display: none;
    max-width: 1000px;
    animation: slideIn 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

    .page-section.active {
        display: block;
    }

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
