.code-block {
    background: rgba(10, 10, 10, 1);
    padding: 15px 25px;
    font-family: 'Fira Code', 'Courier New', monospace;
    font-size: 0.85rem;
    line-height: 1.5;
    color: #fff;
    white-space: pre;
    overflow-x: auto;
    position: relative;
    border-radius: 5px;
    border: 2px dotted rgba(187, 134, 252, 0.25)
}
