.sub-label {
    color: var(--accent);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
